
// 标题公共样式
.title{
    display: flex;
    color: #2e8ece;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;
    padding-top: 20px;
    h3{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
        line-height: 36px;
        border-bottom: 3px solid #2e8ece;
    }
    p{
        margin: 0px;
        a{
            line-height: 40px;
        } 
    }
}
// 页头样式
@import url("header.less");

// 轮播
#carousel-example-generic{
    
    @media all and (max-width: 768px){
        .carousel-indicators{
            display: none;
        }
        .carousel-control{
            display: none;
        }
    }
    .carousel-indicators{
        bottom: 0px;
    }
  
}

// 三大权益
#three-equities{
    margin-top:20px;
    .row{
        
        div{
            background: url("@{imgpath}feature01.png") no-repeat left center;
            min-height: 65px;
            padding-left: 80px;
            margin-bottom: 20px;
            
            h4{
              font-weight: bold;  
            }
        }
        
        div:nth-of-type(2){
           background-image: url("@{imgpath}feature02.png"); 
        }
        
        div:nth-of-type(3){
           background-image: url("@{imgpath}feature03.png"); 
        }
    }
    @media all and (max-width: 992px){
        div{
            margin: 0px 2px;
        }
     }
}

//投资信息列表
#invest-list{
    
    table{
        thead{
            color: #999999;
        }
       
        
    } 
}
@media all and (max-width: 640px){
    .hide640{
        display: none;
    }
}

@media all and (max-width: 400px){
    .hide640{
        display: none;
    }
    .hide400{
        display: none;
    }
}

// 文章信息
article{
    .article-info{
        list-style: none;
        li{
            line-height: 38px;
            border-bottom: 1px dotted #eee;
            a{
                text-decoration: none;
                &:hover{
                    color: #337ab7;
                }
                color:#555;
                span{
                    float: right;
                }
            } 

            
        }
    }
}

// 页脚样式
@import url("footer.less");

