#accordion{
    a{
        text-decoration: none;
    }
    .panel-body{
        padding: 0px;
        ul{
            margin: 0px;
            li{
                
                height: 40px;
                line-height: 40px;
                padding-left: 40px;
            }
            .active{
                background: #337ab7;
                a{
                    color: #fff;
                }
            }
        }
    }

}

