.person_right-info{
    .panel{
    //面板头部部分样式
         margin-top: 5px;
         padding:0 16px;
        .panel-heading{
            background: #fff;
            margin: 0;        
            .row{
                width: 100%;
                div{
                    min-height:116px; 
                    background: #fff;
                    &:nth-of-type(1){
                       padding: 0;
                        a{  
                            display: inline-block;
                            width: 100px;
                            height: 100px;
                            text-align: center;
                            padding-top:10px;
                            border: 1px solid #ccc;
                            
                            img{
                                max-width: 72px;
                            }
                        }
                    }
                    &:nth-of-type(2){
                        padding: 0;
                        margin: 0;
                    }
                    
               
                }
            }
        }
        
    //面板内容部分样式
        .panel-body{
            div{
                margin-bottom: 10px;
            }
            .index_money{
                 p{
                        font-size:18px;
                        span{
                            color: #337ab7;
                        }
                    }
            }
            .account{
                text-align: center;
            }
            .attestation{
                margin-top: 40px;
                border-bottom: 1px solid #ccc;
                ul{
                    margin-bottom: 30px;
                    li{
                        margin: 0;
                        padding: 0;
                        .bg-icon{
                            background: url(../../static/images/shiming.png) no-repeat;
                            p{
                                margin-left: 60px;
                            }
                        }
                        .bg-phone{
                            background: url(../../static/images/shouji.jpg) no-repeat;
                            
                        }
                        .bg-email{
                            background: url(../../static/images/youxiang.jpg) no-repeat;
                            
                        }
                        .bg-vip{
                            background: url(../../static/images/baozhan.jpg) no-repeat;
                            
                        }
                        
                    }
                }
            }
           
        }
        
        
    }
}

