.user_right-info{
    margin-top: 5px;
    form{
        width: 600px;
        margin: 0 auto;
        .form-group{
            div{
                    width: 300px;
                
            }
            .address{
                    width: 400px;
                }
            //实名认证页面的样式
            .id_card_photo{
                width: 500px;
                p{
                    color: #337ab7;
                }
                div{
                   display: flex;
                     label{
                         width: 150px;
                         height: 140px;
                         border: 1px solid #ccc;
                         text-align: center;
                         color:#337ab7; ;
                         padding-top: 10px;
                         margin-right: 20px;
                         input{
                            opacity:0;

                        }
                     }
                }
               
            }
        }
    }
}
